<div class="content-modal">
  <div matDialogTitle class="title">
    <h1 >List of Users</h1>
    <div class="spacer"></div>
    <button mat-mini-fab color="primary" aria-label="Register New User">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <mat-list role="list">
      @for (item of [
        {
          nome: 'Paulo Cesar',
          role: 'admin'
        },
        {
          nome: 'cesar Paulo',
          role: 'default'
        }
      ]; track item) {
        <mat-list-item style="display: flex; flex-direction: row-reverse; flex-wrap: nowrap;">

          <mat-icon matListItemIcon style="color: red; cursor: pointer;">delete</mat-icon>
          <mat-icon color="accent" matListItemIcon style="color: #3f51b5; cursor: pointer;">edit</mat-icon>
          <div matListItemTitle>{{item.nome}}</div>
          <div matListItemLine>{{item.role}}</div>
          <div class="spacer"></div>
        </mat-list-item>
        <mat-divider />
    }
    </mat-list>
  </mat-dialog-content>
</div>
