<div class="content-modal">
  <div matDialogTitle class="title">
    <h1 >List of Users</h1>
    <div class="spacer"></div>
    <button mat-mini-fab color="primary" aria-label="Register New User" (click)="registerNewUserModal('')">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <mat-list role="list">
      @for (item of listUsers; track item) {
        <mat-list-item style="display: flex; flex-direction: row-reverse; flex-wrap: nowrap;">
          <mat-icon matTooltip="Delete User" matListItemIcon style="color: red; cursor: pointer;" (click)="deleteUser(item.id)">delete</mat-icon>
          <mat-icon matTooltip="Edit User" color="accent" matListItemIcon style="color: #3f51b5; cursor: pointer;" (click)="registerNewUserModal(item.id)">edit</mat-icon>
          <mat-icon matTooltip="Select user" color="primary" matListItemIcon style="color: green; cursor: pointer;" (click)="selectUser(item)">check</mat-icon>
          <div matListItemTitle>{{item.name}}</div>
          <div matListItemLine>{{item.role}}</div>
          <div class="spacer"></div>
        </mat-list-item>
        <mat-divider />
    }
    </mat-list>
  </mat-dialog-content>
</div>
